#view {
    background-color: #e5e5e5;
    width: 720px;
    margin: auto;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #999999;
}

body {
    background-color: #cccccc;
}
